- var name='Jack Sorrell'
doctype
html(lang="en").contact
	head
		meta(charset="utf-8")
		title= "Contact | " + name
		meta(name="author" content=name)
		meta(name="description" content="Contact " + name)
		meta(id="vp" name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no")
		include includes/favicon
		link(href="/css/style.css", rel="stylesheet")
		link(href="https://fonts.googleapis.com/css?family=Roboto+Condensed" rel="stylesheet")
	body
		include includes/contact-box
