<!DOCTYPE html>
<html lang="en" class="contact">
	<head>
		<meta charset="utf-8">
		<title>Contact | Jack Sorrell</title>
		<meta name="author" content="Jack Sorrell">
		<meta name="description" content="Contact Jack Sorrell">
		<meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
		{{template "favicon"}}
		<link href="/css/style.css" rel="stylesheet">
		<link href="https://fonts.googleapis.com/css?family=Roboto+Condensed" rel="stylesheet">
	</head>
	<body>
		{{ template "contactBox" }}
	</body>
</html>
